.lockButtonWrapper {
    display: inline;
}

#selectContract {
    display: inline;
    width: 25%;
}

#findUserWrapper {
    display: inline;
}

.formWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 300px;
    margin-top: -150px;
    margin-left: -300px;
}

#containerWrapper {
    padding-top: 25px;
}

.editUserWrapper {

}

.editUserSearchWrapper {

}

#head {
    position: relative;
}


#head button {
    position: absolute;
    top: 20px;
    right: 20px;

}


