.login_class {
    margin-left: 40%;
    margin-top: 10%;
}

.form-element {
    margin: 5px 0;
}

.form-element label {
    float: left;
    width: 90px;
}
input[type="submit"] {
    background: darkslategrey;
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
}